a[class^='btn-'],
button {
  color: $color-white;
  outline: none;
  border: 0;
  padding: 10px;
  font-weight: 700;
  min-width: 150px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  @include transition();
  position: relative;

  &:focus {
    border: var(--focus);
  }

  a {
    color: $color-white;


  }

  &:last-child {
    margin: 0;
  }
}

button.details-btn:last-child {
  margin-right: 10px;
}



a.btn-primary {
  text-decoration: none;
  text-align: center;
  padding: 8px;

  &:hover {
    color: $color-white;
  }
}

.btn-primary {
  background-color: $color-primary-btn;


  &:hover {
    background-color: $color-primary-btn-hover;

  }
}

.btn-danger {
  background-color: $color-danger;


  &:hover {
    background-color: $color-red-light;

  }
}


.btn-rounded {
  background-color: $color-primary-btn;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;


  &:hover {
    background-color: $color-primary-btn-hover;
  }
}