@font-face {
   font-family: 'walkway';
   src: url('/server/fonts/walkway_expand_bold-webfont.eot');
   src: url('/server/fonts/walkway_expand_bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('/server/fonts/walkway_expand_bold-webfont.svg#walkway_expand_boldregular') format('svg');
   font-weight: normal;
   font-style: normal;

}



$font-primary: open sans,
sans-serif;
$font-secondary: walkway,
sans-serif;