.chevron-left {

   &:after {
      content: "";
      @include chevron($dir:left);

   }
}

.chevron-right {
   &:after {
      content: "";
      @include chevron($dir:right);

   }
}

.chevron-down {
   &:after {
      content: "";
      @include chevron($dir:down);

   }
}

.chevron-up {
   &:after {
      content: "";
      @include chevron();

   }
}

.icon-x {
   background: none;
   padding: 30px;
   margin: 0;
   min-width: auto;

   &:after {
      content: "+";
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 19px;
      font-weight: 500;
      @include rotate();
      cursor: pointer;
      color: $color-primary-text;
   }
}