.modal {
    background: $color-white;
    position: fixed;
    width: 700px;
    left: 50%;
    top: 10%;
    margin: auto -350px;
    z-index: 220;
    text-align: center;

    &.popup-small {
        width: 600px;
        margin: auto -300px;
    }

    &.popup-large {
        width: 900px;
        margin: auto -450px;
    }

    .popup-footer {
        margin-top: 30px;
        text-align: center;
    }

    .popup-header {
        min-height: 50px;
    }

    .popup-content {
        min-height: 150px;
    }
}