.popup-overlay {
    position: fixed;
    background-color: transparent;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.overlay-background {
    .popup-overlay {
        background-color: $color-background-rgba;
        z-index: 200;
    }
}

.modal {
    background: $color-white;
    position: fixed;
    width: 700px;
    left: 50%;
    top: 10%;
    margin: auto -350px;
    z-index: 220;
    text-align: center;

    &.popup-small {
        width: 600px;
        margin: auto -300px;
    }

    &.popup-large {
        width: 900px;
        margin: auto -450px;
    }

    .popup-footer {
        margin-top: 30px;
        text-align: center;
    }

    .popup-header {

        min-height: 50px;
    }

    .popup-content {

        min-height: 150px;
    }


}

.popup-wrapper {
    position: relative;
    display: inline-block;
}

.popup-content {
    padding: 20px;

}

.popup-footer {
    padding: 20px;

    .btn-primary {
        margin-left: 20px;

    }

}

.popup-header {
    position: relative;


    .icon-x {
        position: absolute;
        right: 0;

        &:focus {
            border: 1px dotted $color-primary-text;
        }
    }
}