.modal {
    position: fixed;
    background-color: rgba(53, 53, 53, .85);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;

    .popup-header {

        min-height: 50px;
    }

    .popup-content {

        min-height: 150px;
    }

    .popup-inner {
        background: $color-white;
        ;
        position: absolute;
        width: 40%;
        left: 31%;
        top: 10%;
        text-align: center;

        &.popup-small {
            width: 30%;
            left: 38%;
        }

        &.popup-large {
            width: 50%;
            left: 27%;
        }

        .modal-footer {
            margin-top: 30px;
        }
    }
}


.popup-content {
    padding: 20px;

}

.popup-footer {
    padding: 20px;

    .btn-primary {
        margin-left: 20px;

    }

}

.popup-header {
    position: relative;


    .icon-x {
        position: absolute;
        right: 0;

        &:focus {
            border: 1px dotted $color-primary-text;
        }
    }
}

.tooltip {
    position: absolute;
    width: 180px;
    background-color: $color-gray-dark;
    color: $color-white;
    text-align: center;
    border-radius: 5px;
    z-index: 10;
    top: 50%;
    transform: translate(157px, -50%);
    box-shadow: 6px 6px 14px -4px rgba(0, 0, 0, 0.39);

    .icon-x:after {
        top: 1px;
        color: $color-white;
    }

    &:before {
        content: '';
        position: absolute;
        display: block;
        border: 5px solid transparent;
        top: 50%;
        transform: translate(.5em, -50%);
    }
}

.tooltip-top {
    transform: translate(-10px, -128%);

    &::before {
        left: 50%;
        transform: translate(-53%, 0px);
        top: 100%;
        border-bottom-width: 0;
        border-top-color: $color-gray-dark;
    }
}

.tooltip-bottom {
    top: 100%;
    transform: translate(-10px, 2%);

    &::before {
        top: 100%;
        border-top-width: 0;
        border-bottom-color: $color-gray-dark;
        left: 50%;
        transform: translate(-50%, -89px);
    }
}

.tooltip-right {
    &:before {
        border-left-width: 0;
        border-right-color: $color-gray-dark;
        right: calc(192px - 5px);
    }

}