.disabled {
   .selectbox {
      color: $color-gray;
   }

}

.selectbox {

   background-color: $color-white;
   position: relative;
   width: 200px;
   margin: 10px 0;

   @include mQ($small) {
      width: 320px;

   }


   &:focus {
      border: var(--focus);
      outline: none;
   }



   .list {
      border: 1px solid $color-border;
      border-bottom: none;
      border-top: none;
   }

   .selectbox-option {
      display: block;
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid $color-border;
      color: inherit;


      &:last-child {
         border-bottom: none;
      }

      &.active,
      &:hover {
         background: $color-blue;
         color: $color-white;
      }
   }

   .chevron-down:after {
      position: absolute;
      top: 11px;
      right: 10px;
   }
}



$main-light: #d9f2fb;
$main: #7fd0c9;





.select {
   position: relative;
   display: inline-block;
   width: 320px;

   &:focus {
      outline: 0;


   }
}

.label {
   display: block;
   margin-bottom: 6px;
   font-weight: 600;
   position: relative;
   top: 0;
}

.selection {
   position: relative;
   padding: 5px;
   border: 1px solid $color-border;
   background: $color-white;
   min-height: 36px;
}

.value {
   position: relative;
   display: inline-block;
   padding: 5px 10px;
}

.multiple {
   padding-right: 30px;
   margin-right: 5px;
   background: $color-blue;
   color: $color-gray-light;
}

.delete {
   position: absolute;
   top: 0;
   right: 0;
   display: block;
   padding: 10px;
   font-size: 10px;
   cursor: pointer;
}

.placeholder {
   padding: 5px 10px;

}

.chevron {
   position: absolute;
   top: 0;
   right: 5px;
   display: block;
   padding: 10px;


}

.options {
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   border: solid $color-border;
   border-width: 0 1px;
   background: #fff;
   list-style: none;
   margin: 0;
   padding: 0;
}

.option {
   padding: 10px 15px;
   border-bottom: 1px solid $color-border;
   cursor: pointer;

   &.selected {
      border: 1px solid $main;
      margin: -1px -1px 0;
      background: $main-light;
   }

   &.focused {
      background: $color-gray-light;
   }
}

.checkbox {
   content: '';
   vertical-align: top;
   display: inline-block;
   width: 16px;
   height: 16px;
   padding: 2px;
   border: 1px solid $color-border;
   border-radius: 2px;
   margin: 2px 12px 0 0;
   color: $color-white;
   font-size: 10px;

   .selected & {
      border-color: $color-blue;
      background: $main;
   }
}