@use '../../scss/globals/' as *;

.main-header {
  .hero {
    background-image: url('/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: rem(250px);
    display: flex;
    align-items: center;

    @include max-size($medium) {
      height: rem(120px);
    }
  }

  .logo {
    font-family: $font-secondary;
    font-size: rem(52px);
    text-transform: uppercase;

    .logo-container {
      display: flex;
      flex-direction: column;
    }

    .logo-item {
      display: flex;
      margin-top: -10px;
      padding-left: 112px;
    }

    @include max-size($medium) {
      display: flex;
      justify-content: center;
      font-size: rem(40px);

      .logo-container {
        align-items: center;
      }

      .logo-item {
        padding: 0;
        margin-top: 8px;
      }
    }

    a {
      color: $color-white;
    }
  }
}
