/* stylelint-disable selector-class-pattern */
@use '../../scss/globals/' as *;

.main-header {
  @include max-size($small) {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 8;
  }

  .hero {
    background-image: url('/images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: rem(200px);

    .container {
      padding-top: 12px;
      display: flex;
      justify-content: space-between;
      height: 100%;
    }

    .select-box {
      max-width: rem(72px);

      .select-box__control {
        background: transparent;
        border: 0;
      }

      .select-box__single-value {
        color: $color-white;
      }

      .select-box__indicator-separator {
        display: none;
      }

      svg {
        color: $color-white;
      }
    }

    @include max-size($medium) {
      height: rem(120px);
    }
  }

  .logo {
    font-family: $font-secondary;
    font-size: rem(52px);
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;

    a {
      color: $color-white;
    }

    .logo-item {
      display: flex;
      margin-top: -10px;
      padding-left: 112px;
    }

    @include max-size($medium) {
      font-size: rem(40px);

      .logo-item {
        padding: 0;
        display: inline-block;
      }
    }
  }
}
