{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@formElements": "./src/js/Components/Common/FormElements",
        "@common": "./src/js/Common",
        "@commonReact": "./src/js/Components/Common",
        "@hooks": "./src/js/hooks",
        "@components": "./src/js/Components",
        "@redux": "./src/js/redux",
        "@images": "./src/assets/images"


      }
    }],
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }]
  ],


  "env": {
    "production": {
      "plugins": [
        ["react-remove-properties", {
          "properties": ["data-test"]
        }]

      ]
    }
  }
}