$color-white: #fff;
$color-black: #000;
$color-gray-darker: #363636;
$color-gray-dark: #b9bfc9;
$color-gray: #e1e1e1;
$color-gray-light: #f4f7f6;
$color-blue: #0b6b7c;
$color-blue-dark: #04515f;
$color-blue-darkest: #0b373f;
$color-red: #a71b1b;
$color-red-light: #d20917;


