



* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

@viewport {
    width: 320px auto;
}



body {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    font-family: $font-primary;
    color: $color-gray-darker;
}



.main-header {
    background-image: url('../images/hero.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    max-height: 300px;
    color: $color-white;
    font-family: $font-secondary;

    .container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 6% 20px;
    }

    h1 {
        font-size: 65px;
        margin: 0;
    }

    h2 {
        font-size: 70px;
        margin: 49px 60px;
        text-transform: uppercase;
    }
}



.container {
    max-width: 1500px;
    margin: 0 auto;

}

.main-wrapper {
    min-height: 100%;
    position: relative;
}

.main-content {
    position: relative;
    padding: 10px 20px 45px;
}

.main-footer {
    height: 40px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;


    .container {
        text-align: right;
        padding-right:30px;
    }
}

.flex-wrapper {
    @include flexbox();

    .flex-item {
        @include flex();
    }

    .flex-2 {
        @include flex($values:2);
    }

    .flex-3 {
        @include flex($values:3);
    }

    .flex-4 {
        @include flex($values:4);
    }
}

.text-bold {
    font-weight: 700;
}

.page-header {
    position: absolute;
    top: -12%;

    h2 {
        margin: 0;
        font-weight: 400;
        color: $color-blue;
    }
}

.search-wrapper {
    margin-bottom: 20px;
}