@use '../../scss/globals/functions' as *;

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  img {
    max-width: rem(316px);
    margin-bottom: 12px;
    border-radius: 4px;
  }
}
