@use '../../scss/globals/functions' as *;

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  figcaption {
    width: 100%;
  }

  img {
    max-width: rem(284px);
    border-radius: 4px;
  }
}
