@import '../../../scss/functions';
@import '../../../scss/colors';
@import '../../../scss/mixins';

input[type='checkbox'] {
  &:checked {
    outline: transparent;
    border-color: $color-blue-dark-medium;
    background-color: $color-blue-dark-medium;

    &::before {
      content: '';
      position: relative;
      top: -2px;
      transform: rotate(45deg);
      width: rem(6px);
      height: rem(13px);
      border-bottom: 3px solid $color-white;
      border-right: 3px solid $color-white;
    }
  }
}
