@use '../../../scss/globals' as *;

.table-action-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 12px;

  .btn-ghost {
    width: auto;
  }

  .input-container {
    left: 20px;
    top: 54px;
    position: absolute;
    width: 220px;
    display: none;

    &:has(.active) {
      display: flex;
    }
  }

  .dot {
    width: rem(12px);
    height: rem(12px);
    border-radius: 50%;
    background-color: $color-info;
    display: flex;
    position: absolute;
    top: 10px;
    right: -4px;
    border: 3px solid $color-white;
  }
}

.table-action-body {
  display: flex;
  justify-content: space-around;
}
