@use '../../../scss/globals' as *;

.record-img-container {
  background-color: $color-blue;
  color: $color-white;
  border-radius: 4px;
  min-width: rem(496px);

  @include max-size($medium) {
    min-width: auto;
  }

  padding: 30px 50px;
}

.record-img-header {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: rem(396px);

  @include max-size($small) {
    max-width: rem(296px);
  }
}

.record-img-title {
  text-wrap: nowrap;
  font-size: rem(28px);
  font-weight: 400;
  margin: 0;
}

.record-img-sub-title {
  font-weight: normal;
  margin: 0;
}
