@use '../../../scss/globals' as *;

.record-img-container {
  padding: 30px 50px;
}

.record-img-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.record-img-title {
  text-wrap: nowrap;
  font-size: rem(28px);
  font-weight: 400;
  margin: 0;
}

.record-img-sub-title {
  font-weight: normal;
  margin: 0;
}
