@use '../../../scss/globals' as *;

.record-img-container {
  padding: 30px 50px;
  background-color: $color-blue;
  color: $color-white;
  border-radius: 4px;
  width: rem(500px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.record-img-header {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 4px;

  .record-img-artist {
    text-wrap: nowrap;
    font-size: rem(28px);
    font-weight: 400;
    margin: 0;
  }

  .record-img-title {
    font-weight: normal;
  }
}
