@use '../../scss/globals' as *;

.error-boundary {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  .error-boundary-info {
    margin: 0;
    margin-bottom: 4px;
    line-height: rem(20px);
  }

  .emoji {
    max-width: rem(120px);
  }
}
