@use '../../scss/globals' as *;

.progress-container {
  height: 4px;

  .progress-bar {
    display: flex;
    height: 100%;
    background-color: blue;

    @include transition($what: width);
  }
}
