@use '../../scss/globals' as *;

.skeleton {
  background-color: $color-gray;
  width: 100%;
  border-radius: 4px;
  display: flex;

  &.skeleton-img {
    min-height: rem(428px);
    min-width: rem(496px);
  }

  @include animation(
    skeleton-animation,
    $duration: 1.5s,
    $timing: linear infinite alternate
  );
}

@keyframes skeleton-animation {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.6;
  }
}

.skeleton-list {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
