@use '../../scss/globals' as *;

.record-list {
  .record-item {
    color: $color-white;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;

    .btn {
      width: auto;
    }

    &:nth-child(1) {
      background-color: $color-blue-dark;
    }

    &:nth-child(2) {
      background-color: $color-gray-darker;
    }

    &:nth-child(3) {
      background-color: $color-red;
    }

    &:nth-child(4) {
      background-color: $color-gray-darker;
    }

    &:nth-child(5) {
      background-color: $color-gray-light;
      color: $color-black;

      .btn-secondary {
        color: $color-primary-text;
      }
    }

    &:nth-child(6) {
      background-color: $color-blue-dark;
    }
  }

  .record-img-footer {
    display: flex;
    justify-content: flex-end;
  }

  .record-img-container {
    padding: 0;
  }
}
