@use '../../scss/globals' as *;

.record-list {
  .figure-img {
    max-width: rem(284px);
  }

  .record-item {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;

    .record-img-container {
      background-color: transparent;
      padding: 0;
    }

    .btn {
      width: auto;

      &.btn-secondary {
        color: $color-white;

        &:hover {
          color: $color-primary-btn-hover;
        }
      }
    }

    &:nth-child(1) {
      background-color: $color-blue-dark;
    }

    &:nth-child(2) {
      background-color: $color-gray-50;
    }

    &:nth-child(3) {
      background-color: $color-red;
    }

    &:nth-child(4) {
      background-color: $color-gray-50;
    }

    &:nth-child(5) {
      background-color: $color-background;
      color: $color-black;

      .record-img-container {
        color: $color-black;
      }

      .btn-secondary {
        color: $color-primary-text;
      }
    }

    &:nth-child(6) {
      background-color: $color-blue-dark;
    }
  }

  .record-img-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
  }
}
