@use '../../scss/globals' as *;

.record-list {
  .record-item {
    color: $color-white;
    width: 100%;
    min-width: rem(450px);

    .btn {
      width: auto;
    }

    &:nth-child(1) {
      background-color: $color-blue;
    }

    &:nth-child(2) {
      background-color: $color-gray-darker;
    }

    &:nth-child(3) {
      background-color: $color-red;
    }

    &:nth-child(4) {
      background-color: $color-gray-darker;
    }

    &:nth-child(5) {
      background-color: $color-gray-light;
      color: $color-black;

      .btn-secondary {
        color: $color-primary-text;
      }
    }

    &:nth-child(6) {
      background-color: $color-blue;
      margin-right: 15px;
    }
  }

  .record-img-footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    padding-top: 0;
  }

  .record-img-container {
    padding: 12px;
    padding-top: 20px;
  }
}
