.manager-select-wrapper {
  border: 1px solid gray;
  border-radius: 10px;
  background: #fff;

  h2 {
    font-weight: 400;
    margin: 0 0 10px;
  }
}

.manager-select {
  background-color: gray;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  form {
    margin-bottom: 10px;
  }
}

.manager-select-options {
  padding: 20px;

  &:focus {
    background-color: red;
  }
}

a.manager-select-mail {
  color: lightgrey;
  text-decoration: none;
}

.manager-select-icon {
  display: inline-block;
  color: #fff;
  background-color: blueviolet;
  padding: 20px;
  border-radius: 9px;
  margin-right: 20px;
  vertical-align: top;
}

.manager-select-info {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.manager-select-name {
  display: inline-block;
}