.main-header {

   background-size: 100%;
   background-repeat: no-repeat;
   background-position: bottom center;
   height: 200px;
   color: $color-white;
   font-family: $font-secondary;
   font-size: 40px;

   a {
      color: $color-white;
   }


   @include mQ(947px) {
      height: 200px;
      font-size: 30px;
   }

   @include mQ($small) {
      height: 90px;
      position: fixed;
      width: 100%;
      z-index: 2;
   }

   .container {
      max-width: 1600px;
      margin: 0 auto;
      padding: 6% 20px;
   }


   h1 {
      font-size: 70px;
      position: absolute;
      top: 20px;
      text-transform: uppercase;


      @include mQ($medium) {
         font-size: 50px;
         top: 60px;
      }

      @include mQ($small) {
         font-size: 34px;
         top: 11px
      }

   }
}