$burgerColor: $color-gray-light;
$burgerColorActive: $color-gray-dark;

.menu-btn-wrapper {
   position: fixed;
   z-index: 200;
   right: 0;
   height: 76px;
   top: 0;
   cursor: pointer;
   display: none;

   @include mQ($small) {
      display: block;
   }
}

.menu-btn {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80px;
   right: -10px;
   top: 30px;

   @include transition();

   text-align: left;

}

.menu-btn-burger {
   width: 37px;
   height: 3px;
   background-color: $burgerColor;
   border-radius: 5px;
   @include transition();

   &:before,
   &:after {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      background-color: $burgerColor;
      border-radius: inherit;
      @include transition();
   }

   &:before {
      transform: translateY(-8px);
   }

   &:after {
      transform: translateY(8px);
   }
}


/* ANIMATION */
.open-nav {
   .menu-btn-burger {
      transform: translateX(-50px);
      background: transparent;

      &:before,
      &:after {
         background-color: $burgerColorActive;
         width: 30px;
      }

      &:before {
         transform: rotate(45deg) translate(35px, -35px);

      }

      &:after {
         transform: rotate(-45deg) translate(35px, 35px);

      }
   }

}