.main-nav {

   display: flex;
   list-style: none;
   width: 100%;
   justify-content: flex-end;
   margin: 0;

   ul {
      list-style: none;
   }

   li {
      margin-right: 10px;
      flex: 1;

      &:last-child {
         margin: 0;
      }
   }

   a.active {
      color: $color-blue-dark;
   }

}