@use '../../../scss/globals' as *;

.auth {
  display: flex;
  gap: 40px;
}

.auth-container {
  width: 100%;
}

.auth-menu {
  display: flex;
  margin-bottom: 20px;

  .btn {
    padding: 0;
  }
}

.auth-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .form-footer {
    justify-content: flex-end;
  }
}

.nav-item {
  color: #5b5757;
  display: flex;
  padding: rem(8px) rem(40px);
  border-bottom: 3px solid $color-border;

  &:hover,
  &.active {
    color: #04515f;
    border-color: #04515f;
  }
}
