input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  height: 60px;
  outline: none;
  border: none;

  &:focus {
    outline: 2px solid rgba(101, 183, 134, .8);
    box-shadow: 0 0 7px rgba(101, 183, 134, .8);
    border: 1px solid rgba(101, 183, 134, .8);
  }
}

.input-wrapper {
  position: relative;

  .icon {
    position: absolute;
    right: 20px;
    top: 20px;
    @include chevron($size: 10px, $color:$color-gray, $dir:down);

    &.chevron-up {
      top: 28px;
      @include chevron($size: 10px, $color:$color-gray, $dir:up);
    }
  }
}