@use '../../scss/globals' as *;

.main-nav {
  width: 100%;
  background-color: $color-background;
  margin-bottom: 16px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav-container {
    display: flex;
    gap: 12px;
  }

  .main-nav-items {
    text-transform: uppercase;

    a {
      color: #3d5c53;
      padding: 20px 0;
      display: flex;
    }

    .active {
      color: #4e746e;
    }
  }
}
