@use '../../scss/globals' as *;

.main-nav {
  width: 100%;
  background-color: $color-background;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }

  .main-nav-container {
    display: flex;
    gap: 12px;
  }

  .main-nav-items {
    text-transform: uppercase;
    font-size: rem(14px);

    a {
      color: $color-primary-link;
      padding: 20px 0;
      display: flex;
    }

    .active {
      color: $color-blue-dark;
    }
  }
}
