@use '../../scss/globals' as *;

$burger-color: $color-gray-light;
$burger-color-active: $color-gray-dark;

.main-nav {
  width: 100%;
  background-color: $color-background;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }

  .main-nav-container {
    display: flex;
    gap: 12px;
  }

  &.open-nav {
    @include transition;

    .main-nav {
      @include max-size($small) {
        right: 0;
      }
    }
  }

  // @include max-size($small) {
  //   text-align: left;

  //   @include transition;

  //   position: fixed;
  //   right: -200px;
  //   top: 0;
  //   width: 200px;
  //   height: 100%;
  //   z-index: 20;
  // }

  .main-nav-items {
    text-transform: uppercase;
    font-size: rem(14px);

    a {
      color: $color-primary-link;
      padding: 20px 0;
      display: flex;
    }

    .active {
      color: $color-blue-dark;
    }

    @include max-size($small) {
      margin: 20px;
      display: block;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
