/* stylelint-disable no-descending-specificity */
@use '../../scss//globals' as *;

// .tbl-container {
//   max-width: fit-content;
//   max-height: fit-content;
// }

.tbl-fixed {
  overflow: auto;
  border: 1px solid $color-border;

  // height: fit-content;
  max-height: 400px;

  .main-table {
    width: 100%;
    border-spacing: 0;
  }

  thead {
    th {
      position: sticky;
      top: 0;
    }
  }

  td {
    z-index: 2;
  }

  td:first-child,
  th:first-child {
    position: sticky;
    left: 0;
    background: white;

    // z-index: 1;
  }

  th {
    text-align: left;
    width: max-content;

    &:first-child {
      z-index: 3;
    }
  }

  td,
  th {
    padding: 12px;
    padding-right: 160px;
    background-color: $color-white;
    white-space: nowrap;
  }
}
