/* stylelint-disable no-descending-specificity */
@use '../../scss//globals' as *;

.fixed-table {
  overflow: auto;
  border: 1px solid $color-border;
  max-height: rem(400px);
  margin-bottom: 12px;

  .main-table {
    width: 100%;
    border-spacing: 0;

    .btn {
      padding: 0;
    }
  }

  thead {
    th {
      position: sticky;
      top: 0;
      z-index: 2;
    }
  }

  td {
    line-height: rem(24px);
    background-color: $color-white;
  }

  tr:nth-child(odd) {
    td {
      background-color: $color-background;

      &.no-records-table-field {
        background-color: $color-white;
        border: none;
      }
    }
  }

  th {
    width: max-content;
    border: 1px solid transparent;
    border-bottom: 1px solid $color-gray-30;
    text-align: left;
    background-color: $color-white;
    border-right: 1px solid $color-border;

    &:has(.btn:focus) {
      border-color: currentcolor;
    }

    &:first-child {
      z-index: 3;
    }
  }

  td,
  th {
    padding: 4px 12px;
    white-space: nowrap;

    &:first-child {
      position: sticky;
      left: 0;
    }
  }
}
