@use '../../scss/globals' as *;

.progress-bar-container {
  display: flex;
  height: 4px;
  background-color: $color-background;

  .progress-bar {
    height: 100%;
    background-color: $color-primary;

    @include animation(progress-bar, 5s, linear);
  }
}

@keyframes progress-bar {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
