@use './globals' as *;

a[class^='btn-'],
.btn {
  position: relative;
  font-size: rem(14px);
  color: $color-white;
  outline: transparent;
  border: 0;
  padding: 10px;
  font-weight: normal;
  min-width: 150px;
  cursor: pointer;

  @include transition;

  &:disabled {
    pointer-events: none;
  }

  // &:focus {
  //   border: var(--focus);
  // }
}

a.btn-primary {
  text-decoration: none;
  text-align: center;
  padding: 7px;
  min-height: 35px;

  &:hover {
    color: $color-white;
  }
}

.btn-primary {
  background-color: $color-primary-btn;

  &:hover {
    background-color: $color-primary-btn-hover;
  }
}

.btn-danger {
  background-color: $color-danger;

  &:hover {
    background-color: $color-red-light;
  }
}

.btn-ghost {
  background-color: transparent;
}

.btn-rounded {
  background-color: $color-primary-btn;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;

  &:hover {
    background-color: $color-primary-btn-hover;
  }
}
