@use './globals' as *;

a[class^='btn-'],
.btn {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: $font-primary;
  font-size: rem(14px);
  font-weight: normal;
  color: $color-white;
  outline: transparent;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
  min-width: 150px;
  border: 1px solid currentcolor;
  cursor: pointer;

  @include transition;

  &::after {
    content: '';
    position: absolute;
    top: -29%;
    left: -18%;
    width: 130%;
    height: 144%;
    min-width: rem(48px);
    min-height: rem(48px);
  }

  &:disabled {
    pointer-events: none;
    background-color: $color-background;
    color: $color-gray-dark;
    border-color: $color-border;
  }
}

.btn-primary {
  background-color: $color-primary-btn;

  &:hover {
    background-color: $color-primary-btn-hover;
  }

  &:focus-visible {
    @include outline($color-primary-btn-hover);

    border: 1px solid $color-white;
  }
}

a {
  &.btn-secondary {
    &:hover {
      background-color: transparent;
    }

    &:focus-visible {
      @include outline(currentColor);
    }
  }
}

.btn-secondary {
  background-color: transparent;

  &:hover {
    background-color: $color-primary-btn-hover;
  }

  &:focus-visible {
    @include outline($color-primary-btn-hover);

    border: 1px solid $color-white;
  }
}

.btn-danger {
  background-color: $color-danger;

  &:hover {
    background-color: $color-red-light;
  }
}

.btn-ghost {
  background-color: transparent;
  color: $color-primary-btn;
  min-width: fit-content;
  width: auto;
  border: 0;

  &.danger {
    svg {
      stroke: $color-danger;
    }
  }

  &:focus-visible {
    @include outline(currentcolor);
  }
}

.btn-rounded {
  background-color: $color-primary-btn;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;

  &:hover {
    background-color: $color-primary-btn-hover;
  }
}
