@use './globals' as *;

.flex {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.column {
  flex-direction: column;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  height: 1px;
  width: 1px;
}

.text-bold {
  font-weight: 700;
}

.grid {
  display: grid;
  gap: 12px;

  &.two-col {
    grid-template-columns: repeat(2, 1fr);
  }

  &.three-col {
    grid-template-columns: repeat(3, 1fr);
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.position-relative {
  position: relative;
}
