.icon-checkmark {
  display: inline-block;

  &::after {
    content: '';
    display: block;
    width: 3px;
    height: 6px;
    border: 1px solid $color-black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.icon-x {
  background: none;
  padding: 30px;
  margin: 0;
  min-width: auto;

  &::after {
    content: '+';
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 19px;
    font-weight: 500;

    @include rotate;

    cursor: pointer;
    color: $color-primary-text;
  }
}
