@use './globals' as *;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: rem(14px);
  color: $color-primary-text;
  font-family: $font-primary;
}

h1 {
  font-size: rem(32px);
}

.main-container {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}

a {
  color: $color-primary-link;
  text-decoration: none;

  &:focus-visible {
    border: 1px dotted $color-border;
    outline: none;
  }

  &:hover {
    color: $color-secondary;
  }
}

img {
  width: 100%;
}

.home-page {
  .btn {
    max-width: 300px;
  }
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  img {
    max-width: 330px;
  }
}
