@use './globals' as *;

:root {
  --focus: 1px dotted;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: rem(16px);
  color: $color-primary-text;
  font-family: $font-primary;
}

h1 {
  font-size: rem(32px);
}

.main-container {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}

a {
  text-decoration: none;
}

.container {
  max-width: rem(1400px);
  margin: 0 auto;
  padding: 30px;
  width: 100%;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  height: 1px;
  width: 1px;
}
