@use './globals' as *;

.nav-list {
  display: flex;
}

.main-nav {
  background-color: $color-background;

  .panel-nav {
    overflow: auto;
    padding-bottom: 130px;
  }

  .panel-container {
    padding: 20px 0;
  }

  .panel {
    top: 174px;
    padding: 0;

    @include max-size($small) {
      flex-direction: column;
    }

    .user-info {
      display: flex;
      align-items: flex-end;
      gap: 20px;
    }

    nav {
      margin-bottom: 20px;
    }
  }

  .nav-list {
    @include max-size($small) {
      flex-direction: column;

      li {
        border-bottom: 1px solid $color-border;
      }
    }
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include max-size($small) {
    justify-content: flex-start;
    gap: 20px;
  }

  .nav-dropdown {
    display: flex;
    justify-content: flex-end;
  }

  .user-btn {
    padding: 0;
    display: flex;
    align-items: flex-end;
    gap: 8px;
  }

  .dropdown {
    max-width: 240px;
  }

  &.container {
    padding: 0 20px;
  }

  .nav-title {
    @include max-size($small) {
      width: 100%;
    }
  }
}

.nav-item {
  border-bottom: 3px solid transparent;
  display: flex;
  padding: 20px 30px;

  &:hover,
  &.active {
    color: $color-blue-dark;
    border-color: $color-blue-dark;
  }
}

.sub-nav {
  margin-bottom: 32px;

  .nav-item {
    padding: 8px 40px;

    &:not(.active, :hover) {
      border-color: $color-border;
    }
  }
}
