@use './globals' as *;

.nav {
  background-color: $color-background;
}

.nav-test {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.container {
    padding: 0 20px;
  }

  .btn {
    padding: 0;
  }
}

.nav-list {
  display: flex;
}

.nav-item {
  border-bottom: 3px solid transparent;
  display: flex;
  padding: 20px 30px;

  &:hover,
  &.active {
    color: $color-blue-dark;
    border-color: $color-blue-dark;
  }
}

.sub-nav {
  .nav-item {
    padding: 8px 40px;

    &:not(.active, :hover) {
      border-color: $color-border;
    }
  }
}
