@use './globals' as *;

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-wrapper {
  display: flex;
  position: relative;
}

.flex-item {
  display: flex;
}

.flex-2 {
  flex: 2;
  flex-basis: 50%;
}

.flex-3 {
  flex: 3;
  flex-basis: 75%;
}

.flex-4 {
  flex: 4;
  flex-basis: 65%;
}

figure {
  margin: 0;

  @include max-size($small) {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
}

.details {
  .flex-wrapper {
    &.details-content-wrapper {
      @include max-size($small) {
        display: flex;
        margin-left: 15px;
      }
    }
  }

  .block-img {
    text-align: left;

    img {
      @include max-size($small) {
        max-width: 200px;
      }
    }
  }

  .details-header {
    margin-bottom: 10px;

    .details-artist {
      display: inline-block;
      font-size: 39px;
      font-weight: 400;
      margin-right: 0;

      @include max-size($small) {
        font-size: 24px;
        margin: 10px;
      }
    }
  }

  .details-info {
    border-top: 1px solid $color-gray;
    padding-top: 20px;
    margin-top: 10px;
  }

  .details-content {
    margin: 10px 0;

    @include max-size($small) {
      margin: 3px 0;
    }
  }
}

.image-preview-wrapper {
  text-align: center;
}
