.pagination {
    margin-top: 20px;

    .pagination-item {
        display: inline-block;
        text-align: center;

        a {
            padding: 8px 15px;
            border: 1px solid$color-gray-dark;
            border-right: none;
            color: inherit;
            display: block;
            min-width: 48px;

            @include mQ($medium) {
                min-width: auto;
            }

            @include mQ($small) {
                padding: 9px;
            }

            &:focus {
                border: var(--focus);
                outline: none;
            }

            &.last-of-type {
                border-right: 1px solid $color-gray-dark;
            }

            &.active {
                background-color: $color-blue;
                color: $color-white;

                &:hover {

                    cursor: default;
                }
            }



            &:hover {
                background-color: $color-blue;
                color: $color-white;
            }
        }

        &.disabled {

            .chevron-right,
            .chevron-left {
                &:after {
                    border-color: $color-gray;
                }
            }

            &:hover {
                background-color: $color-white;
            }
        }
    }



    .pagination-wrapper {

        list-style: none;
        margin: 0;
        padding: 0;




    }



}