.pagination {
    margin-top: 20px;

    .page-item {
        flex: 1;
        font-size: 15px;
        max-width: 6%;

    }

    &.flex-wrapper {

        .flex-4 {
            margin: 0;
            max-width: 51%;
        }

    }


    .pagination-numbers {

        list-style: none;
        margin: 0;
        padding: 0;

        .pagination-chevron {
            position: relative;
            top: -1px;

            a {
                padding-bottom: 9px;
            }
        }

        li {
            display: inline-block;

        }

        a {

            padding: 8px 15px;
            border: 1px solid #333300;
            border-right: none;
            color: inherit;

            &.last-of-type {
                border-right: 1px solid #333300;
            }

            &.active {
                background-color: $color-blue;
                color: $color-white;

                &:hover {

                    cursor: default;
                }
            }

            &.disabled {
                color: $color-gray-dark;
                cursor: default;
                pointer-events: none;
                color: $color-gray;

                &:hover {
                    background-color: $color-white;
                }
            }

            &:hover {
                background-color: $color-blue;
                color: $color-white;
            }
        }
    }


    .selectbox {
        max-width: 7%;
        position: relative;

        &:after {
            content: "";
            @include chevron($size: 8px, $weight:1px, $color: $color-gray-darker, $dir: down);
            display: block;
            position: absolute;
            top: 13px;
            right: 12px;
        }

        .selectbox-input {
            cursor: pointer;

            &:hover {
                background-color: $color-gray-light;
            }
        }

        .selectbox-items {
            background-color: $color-white;
            position: absolute;
            width: 100%;
            border-left: 1px solid $color-gray-dark;
            border-right: 1px solid $color-gray-dark;
            z-index: 100;

            li {
                padding: 5px 10px;
                border-bottom: 1px solid $color-gray-dark;



                &:hover {
                    background-color: $color-blue;
                    color: $color-white;
                }
            }
        }
    }
}