.record-table-select {
    position: absolute;
    right: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid $color-gray-dark;
    margin-bottom: 10px;
    width: 100%;



    .search {
        svg {
            width: 30px;

            @include mQ($medium) {
                width: 20px;

            }
        }
    }

    thead {
        tr {
            height: 100px;

            @include mQ($medium) {
                height: auto;
            }

            @include mQ($small) {
                display: none;
            }
        }
    }

    th {
        font-weight: 500;
        padding-left: 13px;
        background-color: $color-blue;
        color: $color-white;
        text-align: left;
        width: 15%;
        cursor: pointer;
        position: relative;

        &:first-child {
            width: 19%;

        }

        .btn-primary {
            background-color: $color-blue;
        }

        .th-info {

            @include mQ($medium) {
                padding: 10px 0;
                display: block;
            }
        }



        button {
            background: none;
            text-align: left;
            min-width: auto;
            position: relative;
            top: -10px;
            left: 30px;
            z-index: 2;
            padding: 0;

            @include mQ($medium) {
                left: 16px;
                font-weight: 100;
                font-size: 12px;
                top: 4px;
                padding: 10px 4px;
            }


        }

        form {

            position: absolute;
            top: 21px;
            z-index: 10;

            @include mQ($medium) {
                top: 3px;
            }
        }


        .icon-x:after {
            color: $color-primary-text;
        }

        &:last-child {
            width: 30%;
            background-color: $color-blue-dark;
            cursor: default;

            &:after {
                border: none;
            }

            @include mQ($medium) {
                display: block;
                width: 100%;
            }
        }


    }

    .ascending:after {
        content: "";
        @include triangle($size:7px, $color:$color-blue-darkest, $dir:down);
        top: 6px;

        right: -21px;

        @include mQ($medium) {
            right: -11px;
            top: 15px;

        }
    }

    .descending:after {
        content: "";
        @include triangle($size:7px, $color:$color-blue-darkest, $dir:up);
        top: -3px;
        right: -21px;

        @include mQ($medium) {
            right: -9px;
            top: 6px;

        }
    }

    tr {

        border-bottom: 1px solid $color-gray;
        height: 70px;

        @include mQ($medium) {
            display: block;
            padding: 0;
            border-bottom: none;
            height: 263px;
        }

        @include mQ(320px) {

            height: 403px;
        }
    }

    td {
        border-bottom: 1px solid $color-gray-dark;
        padding: 10px 14px;

        &:last-child {
            padding-right: 10px;
            padding-left: 0;

            &.td-info {
                padding-left: 10px;
            }

            @include mQ($medium) {
                text-align: right;
            }

            @include mQ($small) {
                padding: 10px 0;
                text-align: center;
            }
        }

        @include mQ($medium) {
            position: relative;
            padding-left: 50%;
            display: block;
        }

        @include mQ(320px) {
            padding-left: 14px;

        }

        &:first-child {
            @include mQ($medium) {
                border-top: 1px solid $color-gray-dark;
                border-bottom: 2px solid $color-blue;
                font-weight: bold;
                padding-left: 10px;
            }
        }

        &:before {
            @include mQ($medium) {
                content: attr(data-label);
                display: inline-block;
                margin-left: -100%;
                width: 100%;
                white-space: nowrap;
            }

            @include mQ(320px) {
                display: block;
                margin-bottom: 0.5em;
                margin-left: 0;
                font-weight: 700;
            }
        }
    }

    .first-td:before {
        display: none;
    }
}