.record-table-select {
    position: absolute;
    right: 0;
}

.record-table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid $color-gray-dark;
    margin-bottom: 10px;
    width: 100%;

    .search {
        svg {
            width: 30px;

        }
    }

    th {
        font-weight: 500;
        padding-left: 13px;
        background-color: $color-blue;
        color: $color-white;
        text-align: left;
        width: 15%;
        cursor: pointer;
        position: relative;

        @include mQ(767px) {
            display: none;
        }

        button {
            background: none;
            text-align: left;
            min-width: auto;

        }

        .btn-delete:after {
            color: $color-primary-text;
        }

        &:last-child {
            width: 30%;
            background-color: $color-blue-dark;
            cursor: default;

            &:after {
                border: none;
            }

            @include mQ(767px) {
                display: block;
                width: 100%;
            }
        }


    }

    .ascending:after {
        content: "";
        @include triangle($size:7px, $color:$color-blue-darkest, $dir:down);
        top: 26px;
        margin-left: 10px;
        display: inline-block;
        right: 10px;
    }

    .descending:after {

        content: "";

        @include triangle($size:7px, $color:$color-blue-darkest, $dir:up);
        top: 20px;
        display: inline-block;
        right: 10px;
    }

    tr {

        border-bottom: 1px solid $color-gray;

        @include mQ(767px) {
            display: block;
            padding: 0;
            border-bottom: none;
        }
    }

    td {
        border-bottom: 1px solid $color-gray-dark;
        padding: 10px 14px;

        &:last-child {
            padding-right: 10px;
            padding-left: 0;

            @include mQ(767px) {
                padding-right: 0;
                padding-left: 10px;
            }
        }

        @include mQ(767px) {
            position: relative;
            padding-left: 50%;
            display: block;
        }

        @include mQ(360px) {
            padding-left: 14px;
        }

        &:first-child {
            @include mQ(767px) {
                border-top: 1px solid $color-gray-dark;
                border-bottom: 2px solid $color-blue;
                font-weight: bold;
                padding-left: 10px;
            }
        }

        &:before {
            @include mQ(767px) {
                content: attr(data-label);
                display: inline-block;
                margin-left: -100%;
                width: 100%;
                white-space: nowrap;
            }

            @include mQ(360px) {
                display: block;
                margin-bottom: 0.5em;
                margin-left: 0;
            }
        }
    }

    .first-td:before {
        display: none;
    }
}