* {
  box-sizing: border-box;
}

:root {
  --focus: 1px dotted;
}

body,
html {
  height: 100%;
}

@viewport {
  width: 320px auto;
}

body {
  margin: 0;
  font-size: 13px;
  font-family: $font-primary;
  line-height: 20px;
  color: $color-primary-text;
}

a {
  color: $color-primary-link;
  text-decoration: none;


  &:focus {
    border: var(--focus);
    outline: none;
  }

  &:hover {
    color: $color-secondary;
  }
}

img {
  width: 100%;
}

.main-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px;

  @include mQ($small) {
    padding: 10px;
  }
}

.text-bold {
  font-weight: 700;
}

.pos-absolute-right {
  position: absolute;
  top: 0;
  right: 0;
}

.screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hidden {

  @include transition($what: height);
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 200px;

}


.max {
  @include transition($what: height);
  transition: height .3s ease-in-out;
  overflow: auto;
  height: 200px;
  z-index: 20;
}

.mobile-margin {
  @include mQ($small) {
    margin-top: 91px;
  }

}

.disabled {

  pointer-events: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-wrapper {
  @include flexbox();
  position: relative;
}



.flex-item {
  @include flex();
}

.flex-2 {
  @include flex($values: 2, $basis: 50%, );
}

.flex-3 {
  @include flex($values: 3, $basis: 75%, );
}

.flex-4 {
  @include flex($values: 4, $basis: 65%, );
}

figure {
  margin: 0;
}