@use '../../scss/globals' as *;

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .block-img {
    margin-top: 12px;
  }

  .details-header {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 4px;

    .details-artist {
      font-size: rem(40px);
      font-weight: 400;
      margin: 0;
    }
  }

  .details-label {
    min-width: rem(200px);
    font-weight: bold;
  }

  .details-img-container {
    padding: 30px 50px;
    background: $color-blue;
    color: $color-white;
  }

  .details-info {
    border-top: 1px solid $color-gray;
    padding-top: 20px;
    margin-top: 10px;
  }
}
