.create-album {

    &.flex-wrapper {
        @include mQ($medium) {
            display: block;
        }
    }

    .input-wrapper {
        min-width: 48%;

        @include mQ($large) {
            min-width: 46%;
        }

        @include mQ($small) {
            min-width: 100%;
        }

        &.image-preview-input {
            min-width: 100%;
        }

        &:nth-child(odd) {
            margin-right: 30px;
        }
    }

}

.image-preview-wrapper {
    text-align: center;
}