.create-album {
    .input-wrapper {
        min-width: 45%;
        max-width: 45%;

        &:nth-child(odd) {
            margin-right: 30px;
        }
    }

    .true {
        &:after {
            content: "*";
            color: $color-red-light;
        }
    }


    .create-wrapper {
        width: 80%
    }

    .image-preview {
        img {
            max-width: 200px;
            max-height: 200px;
            margin-bottom: 30px;
            display: block;
        }
    }

    .image-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 23%;
    }
}



.content-footer {
    text-align: right;
    padding: 20px 0;

    a,
    button {
        min-width: 250px;
        font-size: 15px;
        padding: 20px 40px;

        &:last-child {
            margin-left: 20px;
        }
    }
}