.details {

    .block-img {
        text-align: left;

        img {
            max-width: 300px;
        }

    }

    .details-header {
        margin-bottom: 10px;

        .details-artist {
            display: inline-block;
            font-size: 39px;
            font-weight: 400;
        }
    }

    .details-info {
        border-top: 1px solid $color-gray;
        padding-top: 20px;
        margin-top: 10px;
    }

    .details-content {

        margin: 10px 0;


    }
}