$color-white: #fff;
$color-black: #000;
$color-green: #7fd0c9;
$color-blue: #0b6b7c;
$color-blue-dark: #04515f;
$color-red: #a71b1b;
$color-red-light: #d20917;

// Gray colors
$color-gray-10: #f4f7f6;
$color-gray-20: #e1e1e1;
$color-gray-30: #8f8f8f;
$color-gray-40: #555;
$color-gray-50: #363636;

/* colors */
$color-primary: $color-gray-20;
$color-secondary: $color-green;
$color-primary-text: $color-gray-40;
$color-link: $color-blue-dark;
$color-primary-btn: $color-blue-dark;
$color-primary-btn-hover: $color-blue;
$color-danger: $color-red;
$color-border: $color-gray-20;
$color-background: $color-gray-10;
$color-overlay: rgb($color-black, 0.6);

// $color-mics
$color-error: $color-danger;
$color-success: $color-blue-dark;
$color-info: $color-blue;
$color-warning: $color-blue;
