/* stylelint-disable block-no-redundant-nested-style-rules */
@use './colors' as *;

$animation-duration: 0.5s;
$animation-timing-function: ease-in-out;

@mixin max-size($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin min-size($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin transition($what: all, $time: 0.3s, $how: $animation-timing-function) {
  @media (prefers-reduced-motion: no-preference) {
    & {
      transition: $what $time $how;
    }
  }
}

@mixin animation(
  $name,
  $duration: $animation-duration,
  $timing: $animation-timing-function
) {
  @media (prefers-reduced-motion: no-preference) {
    & {
      animation: $name $duration $timing forwards;
    }
  }
}

@mixin outline($color: $color-blue, $size: 2px) {
  outline: $size solid $color;
}
