@use './colors' as *;

$mini: 320px;
$small: 414px;
$medium: 815px;
$large: 1424px;
$animation-duration: 0.5s;
$animation-timing-function: ease-in-out;

@mixin max-size($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin min-size($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin rotate($deg: 45deg) {
  transform: rotate($deg);
}

@mixin transition($what: all, $time: 0.3s, $how: $animation-timing-function) {
  transition: $what $time $how;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

@mixin animation(
  $name,
  $duration: $animation-duration,
  $timing: $animation-timing-function
) {
  animation: $name $duration $timing forwards;

  @media (prefers-reduced-motion) {
    animation-name: none;
  }
}

@mixin chevron($size: 7px, $weight: 1px, $color: $color-gray-dark, $dir: up) {
  width: $size;
  height: $size;
  border: $weight solid $color;
  display: inline-block;

  @include rotate(45deg);

  @if $dir == up {
    border-bottom: transparent;
    border-right: transparent;
  } @else if $dir == down {
    border-top: transparent;
    border-left: transparent;
  } @else if $dir == right {
    border-bottom: transparent;
    border-left: transparent;
  } @else if $dir == left {
    border-top: transparent;
    border-right: transparent;
  }
}

@mixin outline($color: $color-hilight, $size: 2px) {
  outline: $size solid $color;
}
