/* stylelint-disable no-descending-specificity */
@use '../../scss/globals' as *;

.table-container {
  position: relative;
  z-index: 1;
  overflow: auto;
  width: rem(300px);
  min-width: 100%;

  @include max-size($medium) {
    max-height: rem(400px);
  }
}

.record-select-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  align-items: center;
  gap: 20px;

  .input-container {
    position: relative;
    z-index: 10;
  }
}

.table-header-container {
  display: flex;
  justify-content: space-between;
  position: relative;

  .input-container {
    left: 20px;
    top: 54px;
    position: absolute;
    width: 220px;
    display: none;

    &:has(.active) {
      display: flex;
    }
  }

  .dot {
    width: rem(12px);
    height: rem(12px);
    border-radius: 50%;
    background-color: $color-info;
    display: flex;
    position: absolute;
    top: 10px;
    right: 7px;
    border: 3px solid $color-white;
  }
}

table {
  width: 100%;
  min-width: rem(380px);
  min-height: rem(100px);
  border-spacing: 0;
  border: 1px solid $color-border;

  .detail-table-header {
    z-index: 5;
  }

  .btn {
    padding: 12px;
  }

  td {
    line-height: rem(24px);
    background-color: $color-white;
  }

  th,
  td {
    padding: 16px 12px;
  }

  th {
    border: 1px solid transparent;
    border-bottom: 1px solid #969393;
    text-align: left;
    background-color: $color-white;
    width: 200px;

    &:has(.btn:focus) {
      border-color: $color-placeholder;
    }

    .btn {
      padding-left: 0;
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: bold;

      &:hover {
        outline: transparent;
        color: $color-green-dark;

        svg {
          stroke: $color-green-dark;
        }
      }
    }

    &:first-child {
      left: 0;
      z-index: 2;
    }
  }

  thead {
    th {
      position: sticky;
      top: 0;
      border-right: 1px solid $color-border;

      &:first-child {
        z-index: 5;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  tbody {
    display: flex;
    flex-direction: column;

    @include max-size($medium) {
      display: table-row-group;
    }

    max-height: rem(400px);
    overflow: auto;

    td:first-child {
      border-right: 1px solid $color-border;
      position: sticky;
      left: 0;
      z-index: 2;
    }

    tr:nth-child(odd) {
      th,
      td {
        background-color: $color-gray-light;

        &.no-records-table-field {
          background-color: $color-white;
          border: none;
        }
      }
    }
  }
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
