@use '../../scss/globals' as *;

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid $color-gray-dark;
  margin-bottom: 10px;
  width: 100%;

  tr {
    border-bottom: 1px solid $color-gray;
    height: 70px;
  }

  td {
    border-bottom: 1px solid $color-gray-dark;
    padding: 8px 14px;
    line-height: rem(24px);
  }

  th {
    padding-left: 12px;
    background-color: $color-blue;
    color: $color-white;
    text-align: left;

    .btn-ghost {
      color: #fff;
    }
  }
}
