@use '../../../scss/globals' as *;

.nav-auth-container {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  align-items: center;

  @include max-size($small) {
    width: 100%;
  }

  .nav-item {
    display: flex;
    align-items: flex-end;
    gap: 8px;
  }
}
