@use '../scss/globals/' as *;

.main-header {
  .hero {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: rem(320px);
    display: flex;
    align-items: center;

    @include max-size($medium) {
      height: rem(200px);
    }
  }

  .logo {
    font-family: $font-secondary;
    font-size: rem(70px);
    text-transform: uppercase;

    @include max-size($medium) {
      display: flex;
      justify-content: center;
      font-size: rem(40px);

      span {
        display: flex;
      }
    }

    a {
      color: $color-white;
    }
  }
}
